html {
  font-size: 10px;
  background: url(https://res.cloudinary.com/valentinesalim/image/upload/v1593841135/background1_zwish7.jpg) no-repeat fixed center;;
  background-size: cover;
  
}

body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.keys {
  grid-template-columns: auto auto auto auto auto auto auto auto auto;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.key {
  border-radius: .5rem;
  font-size: 1.5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: #2B3849;
  background: white;
  margin: 10px;
  box-shadow: 0 0 10px white;
}

.playing {
  transform: scale(1.1);
  border-color: #ffffff;
  box-shadow: 0 0 2rem #83fcff;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #2B3849;
}